body {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100vw;
    text-align: center;
}

.status-bar i:nth-child(1)::before {
    content: "\f1eb";
    margin-right : 115px;
}

.title {
    margin-top: 50px;
    font-size: 25px;
    font-weight: 500;
}

.sub-title {
    margin-top: 20px;
    font-size: 15px;
    color: gray;
    line-height: 1.1;
}

/* 로그인 입력창 */
input {
    display: flex;
    font-size: large;
    text-align: left;
    margin-top: 100px;
    margin-left: 35px;
    padding-bottom: 10px;
    padding-right: 100px;
    border: 0;
    border-bottom: solid 1px #898888;
    outline: none;
}

input::placeholder {
    color: #898888;
}

input[type=password] {
    margin-top: 10px;
}

/* 로그인 버튼 */
input[type=submit] {
    margin: 0;
    margin-top: 30px;
    text-align: center;
    padding: 15px 135px 15px 135px;
    border: 0;
    border-radius: 5px;
    background-color: #F2D64B;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

/* 로그인 content */
.login-content {
    margin-top: 30px;
}

/* top-bar */
.top-bar {
    padding: 20px;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
}

.top-bar i::before {
    font-size: 25px;
    margin-right: 15px;
}

.friends-name {
    background-color: #FAFAFA;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* progile */

.profile {
    float: left;
    margin: 30px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-right: 185px;
    border-bottom: solid 1px gray;
}

.profile-img { 
    width: 80px;
    height: 80px;
    border-radius: 30px;
}

.channel-bar {
    float: left;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    width: 334px;
}